:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --dominant-text-color: #212121;
  --contacts-link-color: #757575;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: #212121;
}
body {
  font-family: var(--main-font);
  color: var(--dominant-text-color);
}
/* =======COMPONENTS======= */
.action :hover,
.action :focus,
.action :active {
  color: var(--accent-color);
}
.contacts-link {
  color: var(--contacts-link-color);
}
/* =======END COMPONENTS======= */

/* =======HEADER======= */
.logo-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}
.menu-list-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

/* =======END HEADER======= */

/* =======HERO======= */

/* =======END HERO======= */

/* =======FOOTER======= */
/* =======END FOOTER======= */
